<div class="container">
	<h1>Where are all the lines at?</h1>
	<div class="rule_yellow" style="width:570px"></div>
	<div class="rule_white" style="width:570px"></div>

	<div id="search_box">
		<form action="/results" method="get">
		<input type="text" name="address" placeholder="Enter city or an address"/>
		<button class="btn_blue"> search </button>
	</div>
</div>