<div class="container">
	<h1>Where are all the lines at?</h1>
	<div class="rule_yellow" style="width:570px"></div>
	<div class="rule_white" style="width:570px"></div>

	<form action="/results" method="get" class="input-xlarge">
	<input type="text" name="address" placeholder="enter your address"/>
	<button> search </button>