<div id="container">
	<h1>Where are all the lines at?</h1>
	<div class="rule_yellow" style="width:570px"></div>
	<div class="rule_white" style="width:570px"></div>
	<form class="form-inline">
	  <input type="text" class="input-large" placeholder="Email">
	  <input type="password" class="input-large" placeholder="Password">
	  <button type="submit" class="btn_login">Sign in</button>
	</form>
</div>