#bg_blue {
	background: #0a8cc8;
	height: 2000px;
}

.header_fav {
	float: right;
	margin-top: 15px;
}

.header_fav a {
	font-family: "Open Sans";
	font-size: 14px;
	color: white;
	margin-right: 15px;
}

.results_fav {
	width: 610px;
	height: 80px;
	margin: auto;
	margin-bottom: 20px;
}

#delete {
  background-color: #ffbb04;
  width: 75px;
  height: 80px;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  color: white;
  float: right;
  line-height: 75px;
  text-align: center;
  border: none;
}

.results form {
  margin: 0px;
}