.results {
	background-color: white;
	height: 50px;
	width: 500px;
	margin: auto;
	margin-bottom: 20px;
}

#logout {
	text-align: right;
}

.label {
	font-family: "Open Sans";
	font-size: 16px;
	color: black;
	text-align: center;
}

#date {
	text-align: center;
}